.button1 {
    background-color: green;
    border: black;
    border-radius: 8px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }

  .button1:active {
    box-shadow: 0 5px #666;
    transform: translateY(2px);
  }

  .button2 {
    background-color:yellow;
    border: black;
    border-radius: 8px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }

  .button2:active {
    box-shadow: 0 5px #666;
    transform: translateY(2px);
  }


  .button3 {
    background-color: pink;
    border: black;
    border-radius: 8px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:12px;
  }

  .button3:active {
    box-shadow: 0 3px #666;
    transform: translateY(1px);
  }